<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Lead Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Bigpoint GmbH, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lead backend developer for Drakensang Online TODO LINK. 
                        Supervising, implementing and maintaining changes to 
                        the external and internal infrastructure. 
                        Leading system integration for various partners e.g. Tencent.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2013 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Bigpoint GmbH, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on Drakensang Online TODO LINK. 
                        Developed the backend and frontend of various game related systems.
                        Also developed and maintained various tools for studio internal use. </p>  
                    </div><!--//details-->
                </div><!--//item-->
                 
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2010 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Native Instruments, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on Traktor Pro 2.
                           Working on UI related systems and integrating hardware.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2008 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Radon Labs GmbH, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Started as an intern and wrote my bachelor thesis. 
                           As an fulltime employe I continued working as an tool and game developer for 
                           Drakensang - The River of Time TBD LINK  </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
