<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Private Projects</h2>
                
                <div class="item">
                    <span class="project-title"><a href="#hook">Tigerclaw</a></span> - <span class="project-tagline">A 2D kungfu brawler developed with Unreal Engine 4. Team consist of 4 peopel. Non commercial. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Knollix.wtf</a></span> - <span class="project-tagline">Adminstrating my root server. Doing various dev op'ish tasks e.g. app containerization</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Go Game Server</a></span> - 
                    <span class="project-tagline"> Go server backend for a game prototype. Using Go's concurrency features to encapsule / run seperate game modules in a concurrent manner. Including Simple AI and Socket / Websocket support</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Personal Website</a></span> - <span class="project-tagline">Developing and maintaining my web presence. Main goal is a personal website and sharpening my web development skills. If I have enough time ill do even some blogging.</span>
                </div><!--//item-->
            </section><!--//section-->
