<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Tools &amp Proficiencies</h2>
    <div class="skillset">        
        <div class="item">
            <h3 class="level-title">Linux</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">svn</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Jenkins</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="83%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">git</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Unreal Engine 4</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Jira</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Confluence</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Unity</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="55%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Docker</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="53%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">ELK-Stack</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Chef</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="40%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>  
</section><!--//skills-section-->
